@import 'variables';

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //max-width: 800px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  color: $secondary;
  width: 100%;
  cursor: pointer;

  .card {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.10);
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__info {
    h3 {
      font-size: $body-font;
      font-weight: normal;
      margin-top: 0;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    span {
      font-weight: 600;
    }
  }

  &__flag {
    margin-right: 46px;

    img {
      max-width: 180px;
    }
  }
}

.card {
  width: 100%;
  margin: 20px 0;
  padding: 20px 40px;
  background: $light-grey;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  h2 {
    text-align: center;
    font-size: $heading-font;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.header {
  color: $primary;
  display: flex;
  align-items: center;
  font-size: $body-font;

  span {
    color: $secondary;
    margin-left: 6px;
  }
}

.flag {
  max-width: 600px;
}

// media queries
@media (max-width: 600px) {
  .card {
    flex-direction: column;

    &__flag {
      img {
        margin-bottom: 20px;
      }
    }
  }

  .listItem {
    &__container {
      text-align: center;
      flex-direction: column;
      justify-content: center;
    }

    &__flag {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
