@import 'variables';

.container {
  background: $dark-grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 100px 30px;
}

.main {
  max-width: 600px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.backBtn {
  position: absolute;
  top: 80px;
  left: 50px;
  color: $secondary;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: $body-font;

  span {
    margin-left: 10px;
  }

  &:hover {
    transition: all .1s ease-in;
    color: $primary;
  }
}
