@import 'variables';

.container {
  background: $dark-grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px
}

.main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backBtn {
  position: absolute;
  top: 70px;
  left: 60px;
  color: $secondary;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: $body-font;

  &:hover {
    color: $primary;
  }
}
