@import 'variables';

.nav {
  height: 50px;
  padding: 10px;
  background: $secondary;
  color: $light-grey;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      color: $light-grey;
      display: flex;
      align-items: center;
      font-size: $body-font;

      &:hover {
        transition: all .1s ease-in;
        color: $primary;
      }
    }

    a {
      margin-left: 10px;
    }
  }
}
